</main>
<footer>
    <div class="copy-right">
        <span>Blogger © <%= new Date().getFullYear() %></span>| 
        <span>
            <a href='https://github.com/ashokkhandhar/blogging-app' target='_blank'>code</a> with ❤️ by <a href='http://ashokkhandhar.netlify.app/' target='_blank'>Ashok Khandhar</a>
        </span>
    </div>
</footer>
<script src='/scripts/main.js'></script>
</body>
</html>