</main>
<footer>
    <div class="copy-right">
        <span>Blogs © <%= new Date().getFullYear() %></span>
        <div class="divider">|</div>
        <span>
            <a href='https://github.com/ashokkhandhar/blogging-app' target='_blank'>code</a> with ❤️ by <a href='http://ashokkhandhar.netlify.app/' target='_blank'>Ashok Khandhar</a>
        </span>
    </div>
</footer>
<script src='/scripts/main.js'></script>
<script src='/scripts/register.js'></script>
<script src='/scripts/update-profile.js'></script>
</body>
</html>