<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='description' content='Practice project'>
    <meta name='keywords' content='HTML, CSS, JavaScript'>
    <meta name='author' content='Ashok Khandhar'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Blogging</title>
    <link rel='stylesheet' href='/style.css'>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/view.css">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/contect.css">
</head>
<body>
    <header class="header">
        <nav class="navigation" id="navigation">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="logo not found">
            </a>
            <div class="nav-list">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/contect">CONTECT</a>
                <a href="/create">
                    <button class="btn add-btn">Create New</button>
                </a>
                <!-- <button class="btn theme-btn" onclick="toggleTheme()">Dark Theme</button> -->
            </div>
        </nav>
    </header>
    <main class='container'>