<%- include("partials/header.ejs") %>

<% if(locals.user) { %>
    <div class="card">
        <div class="profile-settings-container">
            <h1 class="profile-settings-title">My Profile: </h1>
            <table class="profile-settings-table">
                <tr>
                    <th>Name:</th>
                    <td><%= user.name %></td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td><%= user.username %></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td>**********</td>
                </tr>
            </table>
            <a href="/update-profile">
                <button class="btn update-profile-btn">Update Profile</button>
            </a>
            <a href="/delete-profile">
                <button class="btn delete-profile-btn">Delete Profile</button>
            </a>
        </div>
    </div>
<% } else { %>
    <h1 class="logout-content">Create profile or login to view profile detail.</h1>
<% } %>
<%- include("partials/footer.ejs") %>