<%- include("partials/header.ejs") %>

<% if(locals.user) { %>
    <form action="/update-profile" method="POST" class="post-form user-form">
        <h1 class="form-heading">Update Profile</h1>
        <div class="input-container">
            <input class="input" id="newName" type="text" name="name" placeholder="Full Name" value="<%= user.name %>">
            <span id="newName-error" class="error d-none">The name can't be empty.</span>
        </div>
        <div class="input-container">
            <input class="input" id="newUsername" type="text" name="new username" placeholder="Username" value="<%= user.username %>">
            <span id="newUsername-error" class="error d-none">The username must contain minimum three characters, only uppercase / lowercase letters, numbers and underscores.</span>
        </div>
        <input class="input" type="password" name="old password" placeholder="Old Password">   
        <div class="input-container">
            <input class="input" id="new-password" type="password" name="new password" placeholder="New Password">
            <span id="newPassword-error" class="error d-none">The password must contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</span>
        </div>
        <button type="submit" class="btn submit-btn" id="update-profile-btn">Update</button>
    </form>
<% } else { %>
    <h1 class="logout-content">Please login first to update profile.</h1>
<% } %>

<%- include("partials/footer.ejs") %>