.creation-form{
    width: 45%;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4%;
    border-radius: 15px;
    background-color: var(--header-footer-background-color);
}

input, textarea{
    width: 100%;
    padding: 8px;
    border: 0.7px solid var(--card-border-color);
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

textarea{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    resize: none;
}

input:focus, textarea:focus{
    outline: 0.7px solid #000000ba;
    border: none;
}

.create-btn{
    width: 100%;
    font-size: 15px;
}