.user-form{
    width: 380px;
    padding: 30px;
}

.form-heading { 
    margin-bottom: 30px;
}

.input-container {
    width: 100%;
}

.user-input {
    margin-bottom: 5px;
    outline: 0.7px solid #c62928;
}

.redirection {
    color: var(--redirection-transparent-color);
}

.d-none {
    display: none;
}

.error {
    color: #c62928;
    font-size: 13px;
}

@media (max-width: 47em) {
    .user-form {
        width: 100%;
    }
}