.edit-del-btn-container{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 20px 10px 0 0;
}

.edit-btn, .del-btn{
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.del-btn{
    color: red;
}

.edit-btn{
    color: green;
}