@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root{
    /* --primary-color: #475569; */
    --primary-color: #333333;
    --secondary-color: #16859F;
    --font-color-1: #000000c9;
    --font-color-2: #0000008c;
    --primary-background-color: white;
    --secondary-background-color: #f5f5f5;
    --tag-background-color: #0000000f;
    --header-footer-border-color: #e8e8e8;
    --form-inputs-border-color: #d6d6d6;
    --form-input-border-focus-color: #000000ba;
    --navigation-box-shadow-color: #0000001a;
    --redirection-transparent-color: #00000052;
}

[data-theme="dark"]{
    --primary-color: white;
    --font-color-1: #ffffffc9;
    --font-color-2: #ffffff8c;
    --primary-background-color: #282828;
    --secondary-background-color: #1a1a1a;
    --tag-background-color: #ffffff0f;
    --header-footer-border-color: #494949;
    --form-inputs-border-color: #6d6d6d;
    --form-input-border-focus-color: #ffffffba;
    --navigation-box-shadow-color: #ffffff1a;
    --redirection-transparent-color: #ffffff52;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

.btn{
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: padding 0.01s ease;
}